body{

margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0b3d2e,#145c43);
color:white;
text-align:center;

}

.container{

padding:30px;

}

h1{

color:gold;

}

.player{

background:rgba(255,255,255,0.1);
padding:25px;
border-radius:15px;
max-width:420px;
margin:auto;

}

button{

padding:10px 20px;
margin:8px;
font-size:16px;
border:none;
border-radius:20px;
background:gold;
color:black;
cursor:pointer;

}

#progress{

width:100%;
margin-top:20px;

}

#playlist{

list-style:none;
padding:0;
margin-top:30px;

}

#playlist li{

background:rgba(255,255,255,0.1);
padding:12px;
margin:5px;
border-radius:10px;
cursor:pointer;

}

#playlist li:hover{

background:rgba(255,255,255,0.2);

}

footer{

margin-top:40px;

}
